*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #fff;
}

.button-link{
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
}

/* regole css header */

header{
    background-image: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}
    
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    width: 60%;   
}

a{
    text-decoration: none;
    color: #fff;
}

.header-section{
    text-align: center;
    width: 40%;
    height: 300px;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.header-section p{
    margin-bottom: 30px;
    line-height: 25px;
}

.header-section .download{
    margin-right: 20px;
}

.download::before{
    content: "\2193";
    margin-right: 10px;
    font-size: 20px;
}

.header-section .open{
    background-color: black;
    color: #fff;
}

.open-section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;

}

/* regole css main */

.flex-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 100px 0px;
}

.white-section{
    background-color: #fff;
}

.gray-section {
    background-color: #F6F6F6;
}

.item{
    width: 50%;
}

.text{
    text-align: left;
    color: black;
    width: 20%;
}

.text h2{
    font-size: 40px;
}

.text p{
    margin-top: 20px;
    line-height: 30px;
}
    
.video{
    text-align: center;
    width: 60%;
    color: black;
}

.video h2{
    font-size: 40px;
}

.video p{
    margin-top: 20px;
    line-height: 30px;
}

.video h4{
    background-image: url(../img/stars.svg);
    background-size: contain;
    font-size: 30px;
    margin-bottom: 30px;
}

.video .skye{
    background-color: #8EA1E1;
    color: #fff;
}

.skye::before{
    content: "\2193";
    margin-right: 10px;
    font-size: 20px;
}

/* css del footer */


.footer-section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #23272A;
    height: 500px;
}

.footer-col{
    width: 12%;
    margin-top: 30px;
}

.footer-col ul{
    list-style-type: none;
    line-height: 30px;
}

li:first-child{
    color: #7289DB;
}

.first-col{
    width: 22%;
}

.first-col h3{
    font-size: 30px;
    color: #7289DB;
    margin-bottom: 20px;
}

.first-col img{
    height: 10px;
}

i{
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
}

footer nav{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #23272A;
}

.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 30px 0px;
    border-top: 1px solid gray;
}

.footer-nav .button-link{
    background-color: #8EA1E1;
    color: #fff;
}
